<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Love Diary</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="body">
		<p class="title_t center_t bold_t mt_30">커뮤니티</p>
		<section class="center_a mt_30">
			<section class="center_a mt_30">
				<div class="form_group">
					<div class="comment card">
						<div class="twin">
							<div>
								<div class="profile_img bold_t left mt_0">황</div>
								<span class="profile_name">황태현</span>
							</div>
							<div>
								<span class="regist_date">2024-03-24 11:51</span>
							</div>
						</div>
						<p>댓글입니다</p>
					</div>
				</div>
			</section>
			<div class="division_line"></div>
		<section>
		<section class="center_a mt_30">
			<div class="form_group">
				<div class="button_input">
					<input type="tel" class="input" placeholder="댓글" />
					<a class="btn active_btn">입력</a>
				</div>
			</div>
			<section class="center_a mt_30">
				<div class="form_group">
					<div class="comment card">
						<div class="twin">
							<div>
								<div class="profile_img bold_t left mt_0">황</div>
								<span class="profile_name">황태현</span>
							</div>
							<div>
								<span class="regist_date">2024-03-24 11:51</span>
							</div>
						</div>
						<p>댓글입니다</p>
					</div>
				</div>
			</section>
		<section>
	</div>
	<div class="footer">
		<a class="btn disable_btn">돌아가기</a>
		<a class="btn active_btn ml_30">수정</a>
	</div>
</body>
</html>