<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head.html"></head>
<body>
	<input type="hidden" id="idx" th:value="${community.idx}">
	<div class="body">
		<div class="logo center_a"></div>
		<p class="title_t center_t bold_t">커뮤니티</p>
		<section class="center_a mt_30">
			<div class="form_group">
				<div class="comment card">
					<div class="twin profile">
						<div>
							<div th:if="${community.profileIdx == null}" class="profile_img bold_t mt_0" th:text="${community.accountName.charAt(0)}"></div>
							<div th:unless="${community.profileIdx == null}" class="profile_img on mt_0" th:style="|background-image: url('/view/image/${community.profileIdx}');|">&nbsp;</div>
							<span class="profile_name" th:text="${community.accountName}"></span>
						</div>
						<div>
							<span class="regist_date" th:text="${#dates.format(community.registDate, 'YYYY-MM-dd HH:mm')}"></span>
						</div>
					</div>
					<p class="bold_t" th:text="${community.title}"></p>
					<div class="h_200 scroll" th:utext="${community.contents}"></div>
					<div class="right_t">
						<a class="btn disable_btn small_btn w_150">삭제</a>
					</div>
				</div>
			</div>
			<div class="division_line"></div>
		</section>
		<section class="center_a">
			<div class="form_group">
				<div class="button_input">
					<input type="text" id="comment" class="input" placeholder="댓글" />
					<a href="javascript:;" id="save_comment" class="btn active_btn">입력</a>
				</div>
			</div>
			<section class="center_a">
				<div id="comment_list" class="form_group">
					<div class="comment card" th:each="comment : ${comment_list}" th:data-idx="${comment.idx}">
						<div class="twin profile">
							<div>
								<div th:if="${comment.profileIdx == null}" class="profile_img bold_t mt_0" th:text="${comment.accountName.charAt(0)}"></div>
								<div th:unless="${comment.profileIdx == null}" class="profile_img on mt_0" th:style="|background-image: url('/view/image/${comment.profileIdx}');|">&nbsp;</div>
								<span class="profile_name" th:text="${comment.accountName}"></span>
							</div>
							<div>
								<span class="regist_date" th:text="${comment.modifyDate == null ? #dates.format(comment.registDate, 'yyyy-MM-dd HH:mm') : #dates.format(comment.modifyDate, 'yyyy-MM-dd HH:mm')}"></span>
							</div>
						</div>
						<p class="pre_line" th:text="${comment.contents}"></p>
						<div class="right_t">
							<a id="edit_btn" class="btn white_btn small_btn w_150">수정</a>
							<a id="delete_btn" class="btn disable_btn small_btn w_150">삭제</a>
						</div>
					</div>
				</div>
			</section>
		</section>
	</div>
	<div class="footer">
		<a id="list_btn" class="btn disable_btn">돌아가기</a>
		<a id="modify_btn" class="btn active_btn ml_30">수정</a>
	</div>
	<div class="popup" style="display: none;">
		<div class="background pop_close"></div>
		<section id="comment_edit_pop" class="center_a card mt_30 pop" style="display: none;">
			<p class="title_t center_t bold_t">댓글 수정</p>
			<div class="form_group ml_5p">
				<input type="hidden" id="comment_idx" value=""/>
				<input type="text" id="comment_contents" class="input" placeholder="댓글*" />
				<div class="form_group inline_block">
					<a class="btn w_270 disable_btn bold_t pop_close">닫기</a>
					<a id="modify_comment" class="btn w_270 active_btn bold_t ml_30">저장</a>
				</div>
			</div>
		</section>
	</div>
</body>
<script type="application/javascript" th:src="@{/js/community.js}"></script>
</html>