<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head.html"></head>
<body>
	<div class="body">
		<div class="logo center_a"></div>
		<p class="title_t center_t bold_t">가계부</p>
		<section class="center_a card mt_30">
			<div class="form_group" th:data-idx="${detail.idx}">
				<div class="space_evenly w_full mb_15">
					<div class="checkbox">
						<label class="flex">
							<input type="radio" id="check2" name="type" value="I" th:checked="${#strings.equals(detail.type, 'I')}"/><label></label>
							<p class="inline_block f_30">입금</p>
						</label>
						<label class="flex">
							<input type="radio" id="check1" name="type" value="O" th:checked="${#strings.equals(detail.type, 'O')}"/><label></label>
							<p class="inline_block f_30">출금</p>
						</label>
					</div>
				</div>
				<input type="text" id="due_date" class="input" placeholder="발생일*" th:value="${#dates.format(detail.dueDate, 'yyyy-MM-dd hh:mm')}"/>
				<input type="text" id="amount" class="input" placeholder="금액*" oninput="amountFormat()" th:value="${#numbers.formatInteger(detail.amount, 3, 'COMMA')}"/>
				<input type="text" id="content" class="input" placeholder="상세 내역*" th:value="${detail.contents}"/>
				<div class="circle_group">
					<div class="left_t">
						<div class="circle_btn ml_30 br_0 income_payment_img on" th:data-idx = "1"></div>
						<div class="circle_btn br_0 income_bonus_img" th:data-idx = "2"></div>
						<div class="circle_btn br_0 etc_img" th:data-idx = "14"></div>
					</div>
				</div>
				<div class="circle_group">
					<div class="left_t">
						<div class="circle_btn ml_30 br_0 outgoing_food_img on" th:data-idx = "3"></div>
						<div class="circle_btn br_0 outgoing_bus_img" th:data-idx = "4"></div>
						<div class="circle_btn br_0 outgoing_hobby_img" th:data-idx = "5"></div>
						<div class="circle_btn br_0 outgoing_trip_img" th:data-idx = "6"></div>
						<div class="circle_btn br_0 outgoing_fashion_img" th:data-idx = "7"></div>
						<div class="circle_btn br_0 outgoing_daliy_necessity_img" th:data-idx = "8"></div>
						<div class="circle_btn br_0 outgoing_tax_img" th:data-idx = "9"></div>
						<div class="circle_btn br_0 outgoing_loan_img" th:data-idx = "10"></div>
						<div class="circle_btn br_0 outgoing_health_img" th:data-idx = "11"></div>
						<div class="circle_btn br_0 outgoing_present_img" th:data-idx = "12"></div>
						<div class="circle_btn br_0 outgoing_date_img" th:data-idx = "13"></div>
						<div class="circle_btn br_0 etc_img" th:data-idx = "14"></div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="footer">
		<a class="btn disable_btn">돌아가기</a>
		<a class="btn active_btn">저장</a>
	</div>
</body>
<script type="application/javascript" th:src="@{/js/household_save.js}"></script>
</html>