<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head.html"></head>
<body>
	<div class="logo center_a"></div>
	<p class="title_t center_t bold_t">가계부</p>
	<section class="center_a mt_30">
		<div class="form_group">
			<div class="comment card h_600"></div>
		</div>
	</section>
	<p class="title_t center_t bold_t mt_30">이달의 수입/지출</p>
	<section class="center_a mt_30">
		<div class="form_group">
			<div class="comment card">
				<section class="center_a space_evenly">
					<div class="form_group">
						<ul class="list">
							<li>
								<p><span class="bold_t">수입</span><span class="green_t plus">3,000,000</span></p>
							</li>
						</ul>
						<div class="division_line w_full"></div>
						<ul class="list">
							<li>
								<p><span class="bold_t">지출</span><span class="red_t minus">876,000</span></p>
							</li>
						</ul>
					</div>
				</section>
				
			</div>
		</div>
	</section>
</body>
</html>