<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Love Diary</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="body">
		<div class="logo center_a"></div>
		<p class="title_t center_t bold_t">일기</p>
		<section class="center_a card mt_30">
			<div class="form_group">
				<input type="text" class="input" placeholder="제목*" />
				<textarea class="input question_contents" placeholder="내용을 입력하세요."></textarea>
				<p class="right_t bold_t f_40"><span>0</span> / 300</p>
			</div>
		</section>
	</div>
	<div class="footer">
		<a class="btn disable_btn">돌아가기</a>
		<a class="btn active_btn">저장</a>
	</div>
</body>
</html>