<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head.html"></head>
<body class="scroll">
	<div class="logo center_a"></div>
	<div class="relatived w_full">
		<p class="title_t center_t bold_t line_height">일기</p>
		<div class="absoluted t_0 r_30 w_230 bold_t btn active_btn">일기쓰기</div>
	</div>
	<section class="center_a mt_30 f_40">
		<ul class="list">
			<li>
				<p><span>03-19</span>두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트</p>
			</li>
			<li>
				<p><span>03-19</span>두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트</p>
			</li>
			<li>
				<p><span>03-19</span>두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트</p>
			</li>
		</ul>
	<section>
</body>
</html>