<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head.html"></head>
<body>
	<div class="body">
		<div class="logo center_a"></div>
		<p class="title_t center_t bold_t">버킷리스트</p>
		<section class="center_a mt_30">
			<div class="form_group">
				<div class="comment card">
					<div class="twin">
						<div>
							<div class="profile_img bold_t left mt_0">황</div>
							<span class="profile_name">황태현</span>
						</div>
						<div>
							<span class="regist_date">2024-03-24 11:51</span>
						</div>
					</div>
					<p class="title bold_t">애인과 함께 보고싶은 영화는?</p>
					<div class="h_400 scroll">
						<p>댓글입니다</p>
					</div>
				</div>
			</div>
			<div class="division_line"></div>
		</section>
		<section class="center_a mt_30">
			<div class="form_group inline_block">
				<a class="btn w_270 active_btn bold_t">항목 추가</a>
			</div>
			<section class="center_a mt_30">
				<div class="form_group">
					<div class="comment card">
						<div class="twin">
							<div>
								<div class="profile_img bold_t left mt_0">황</div>
								<span class="profile_name">황태현</span>
							</div>
							<div>
								<span class="regist_date">2024-03-24 11:51</span>
							</div>
						</div>
						<div class="twin">
							<p>댓글입니다</p>
							<div class="find_password right_t bold_t mr_30 mt_0">
								<label class="checkbox mt_0">
									<p class="inline_block f_40">완료</p>
									<input type="checkbox" id="check" /><label></label>
								</label>
							</div>
						</div>
					</div>
				</div>
			</section>
		<section>
	</div>
	<div class="footer">
		<a class="btn disable_btn">돌아가기</a>
		<a class="btn active_btn ml_30">수정</a>
	</div>
</body>
</html>