<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head.html"></head>
<body>
	<div class="body">
		<div class="logo center_a"></div>
		<p class="title_t center_t bold_t">버킷리스트</p>
		<section class="center_a">
			<div class="form_group">
				<div class="comment card bucket_idx" th:data-idx="${detail.idx}">
					<div class="twin profile">
						<div>
							<div th:if="${detail.profileIdx == null}" class="profile_img bold_t mt_0" th:text="${detail.accountName.charAt(0)}"></div>
							<div th:unless="${detail.profileIdx == null}" class="profile_img on mt_0" th:style="|background-image: url('/view/image/${detail.profileIdx}');|">&nbsp;</div>
							<span class="profile_name" th:text="${detail.accountName}"></span>
						</div>
						<div>
							<span class="regist_date" th:text="${#dates.format(detail.registDate, 'YYYY-MM-dd HH:mm')}"></span>
						</div>
					</div>
					<p class="bold_t" th:text="${detail.title}"></p>
					<div class="h_400 scroll" th:utext="${detail.contents}"></div>
					<div class="right_t">
						<a id="delete_btn" class="btn disable_btn small_btn w_150">삭제</a>
					</div>
				</div>
			</div>
			<div class="division_line"></div>
		</section>
		<section class="center_a">
			<div class="form_group inline_block">
				<a class="btn w_270 active_btn bold_t add_btn">항목 추가</a>
			</div>
			<section class="center_a">
				<div class="form_group">
					<div class="comment card" th:each="item : ${detail_item}" th:data-idx="${item.idx}" onclick="clickItem(this)">
						<div class="twin profile">
							<div>
								<div th:if="${item.profileIdx == null}" class="profile_img bold_t mt_0" th:text="${item.accountName.charAt(0)}"></div>
								<div th:unless="${item.profileIdx == null}" class="profile_img on mt_0" th:style="|background-image: url('/view/image/${item.profileIdx}');|">&nbsp;</div>
								<span class="profile_name" th:text="${item.accountName}"></span>
							</div>
							<div>
								<span class="regist_date" th:text="${#dates.format(item.registDate, 'YYYY-MM-dd HH:mm')}"></span>
							</div>
						</div>
						<div class="twin">
							<p th:text="${item.title}"></p>
							<div class="label_t right_t mr_30 mt_0">
								<label class="checkbox mt_0">
									<p class="inline_block f_30">완료</p>
									<input type="checkbox" id="check" th:checked="${#strings.equals(item.achieveYn, 'Y')}"/><label></label>
								</label>
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>
	</div>
	<div class="footer">
		<a id="return_bucket" class="btn disable_btn">돌아가기</a>
		<a class="btn active_btn ml_30" onclick="editBucket(this)">수정</a>
	</div>
</body>
<script type="application/javascript" th:src="@{/js/bucket_detail.js}"></script>
</html>