<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head.html"></head>
<body class="scroll">
	<div class="logo center_a"></div>
	<div class="relatived w_full">
		<p class="title_t center_t bold_t line_height">버킷리스트</p>
		<div class="absoluted t_0 r_30 w_230 bold_t btn active_btn">작성하기</div>
	</div>
	<section class="center_a mt_30 f_30">
		<ul class="list">
			<li th:each="bucket : ${list}" th:data-idx="${bucket.idx}" onclick="clickBucket(this)">
				<p class="left_t w_70p" th:text="${bucket.title}"></p>
				<div class="w_30p skip_text">
					<div th:if="${bucket.profileIdx == null}" class="profile_img bold_t mt_0" th:text="${bucket.accountName.charAt(0)}"></div>
					<div th:unless="${bucket.profileIdx == null}" class="profile_img on mt_0" th:style="|background-image: url('/view/image/${bucket.profileIdx}');|">&nbsp;</div>
					<span class="profile_name" th:text="${bucket.accountName}"></span>
				</div>
			</li>
		</ul>
	</section>
</body>
<script type="application/javascript" th:src="@{/js/bucket.js}"></script>
</html>