<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Love Diary</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="body">
		<div class="logo center_a"></div>
		<p class="title_t center_t bold_t">버킷리스트</p>
		<section class="center_a card mt_30">
			<div class="form_group mb_30">
				<input type="text" class="input" placeholder="제목*" />
				<div class="editor h_600"></div>
				<input type="text" class="input" placeholder="목표일자" />
				<input type="text" class="input" placeholder="주소" />
				<input type="text" class="input" placeholder="상세주소" />
				<div class="find_password right_t bold_t mr_30">
					<label class="checkbox">
						<p class="inline_block f_40">완료</p>
						<input type="checkbox" id="check" /><label></label>
					</label>
				</div>
			</div>
		</section>
	</div>
	<div class="footer">
		<a class="btn disable_btn">돌아가기</a>
		<a class="btn active_btn">저장</a>
	</div>
</body>
</html>