<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head.html"></head>
<body>
	<div class="body">
		<div class="logo center_a"></div>
		<p class="title center_t bold_t">비밀번호 찾기</p>
		<section class="center_a">
			<div class="form_group">
				<input type="text" class="input" placeholder="ID*" />
				<div class="button_input">
					<input type="tel" class="input" placeholder="핸드폰 번호*" />
					<a class="btn active_btn">인증하기</a>
				</div>
				<div class="button_input">
					<input type="number" class="input" placeholder="인증하기*" />
					<a class="btn active_btn">인증완료</a>
				</div>
			</div>
		</section>
	</div>
	<div class="footer">
		<a class="btn active_btn w_270">비밀번호 찾기</a>
	</div>
</body>
</html>