<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head.html"></head>
<body>
	<div class="body">
		<div class="logo center_a"></div>
		<p class="title center_t bold_t f_30 h_auto">이곳에서 여러분만의</p>
		<p class="title center_t bold_t f_30">알콩달콩한 추억을 만들어보세요!</p>
		<section class="center_a">
			<label for="upload_file">
				<input type="file" class="file" id="upload_file"/>
				<div class="profile_input no_image"></div>
			</label>
			<div class="form_group">
				<input type="text" id="name" class="input" placeholder="이름*" />
				<input type="text" id="love_name" class="input" placeholder="닉네임" />
			</div>
			<div class="division_line"></div>
			<div class="form_group">
				<input type="text" id="id" class="input" placeholder="ID*" />
				<input type="password" id="password" class="input" placeholder="비밀번호*" />
				<input type="password" id="password_check" class="input" placeholder="비밀번호 확인*" />
			</div>
		</section>
	</div>
	<div class="footer">
		<a id="next_btn" class="btn active_btn">다음</a>
	</div>
</body>
<script type="application/javascript" th:src="@{/js/join.js}"></script>
</html>