<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head.html"></head>
<body>
	<div class="body">
		<div class="logo center_a"></div>
		<p class="title center_t bold_t">이곳에서 여러분만의 알콩달콩한 추억을 만들어보세요!</p>
		<section class="center_a">
			<label for="upload_file">
				<input type="file" class="file" id="upload_file"/>
				<div class="profile_input no_image"></div>
			</label>
			<div class="form_group">
				<input type="text" class="input" placeholder="닉네임" />
				<input type="text" class="input" placeholder="사귀기 시작한 날짜*" />
			</div>
			<div class="division_line"></div>
			<div class="form_group">
				<a class="btn large_btn white_btn bold_t">비밀번호 수정</a>
			</div>
			<div class="form_group">
				<input type="password" class="input" placeholder="비밀번호*" />
				<input type="password" class="input" placeholder="비밀번호 확인*" />
			</div>
		</section>
	</div>
	<div class="footer">
		<a class="btn active_btn">저장</a>
	</div>
</body>
</html>