<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head.html"></head>
<body class="scroll">
	<div class="logo center_a"></div>
	<p class="title_t center_t bold_t">데이트 코스</p>
	<section class="center_a">
		<div class="form_group">
			<div class="button_input">
				<input type="text" id="keyword" class="input" placeholder="검색" th:value="${keyword}"/>
				<a id="search_btn" class="btn active_btn">검색하기</a>
			</div>
		</div>
	</section>
	<section class="center_a f_30">
		<ul class="list image_list">
			<li th:each="course : ${list}" th:data-idx="${course.idx}" onclick="clickCourse(this)">
				<div>
					<div class="item_img" style="background-image: url('/resources/theme_new_year.svg');"></div>
				</div>
				<p class="left_t">
					<span class="bold_t" th:text="${course.title}">방탈출카페 마스터키 역삼동</span><br>
					<span class="light_t" th:text="${course.address}">서울특별시 역삼동</span>
				</p>
			</li>
		</ul>
	</section>
</body>
<script type="application/javascript" th:src="@{/js/course.js}"></script>
</html>