<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Love Diary</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body class="scroll">
	<div class="logo center_a"></div>
	<p class="title_t center_t bold_t">데이트 코스</p>
	<section class="center_a mt_30 f_40">
		<div class="form_group">
			<div class="button_input">
				<input type="text" class="input" placeholder="검색" />
				<a class="btn active_btn">검색하기</a>
			</div>
		</div>
		<ul class="item_list">
			<li>
				<div class="relatived w_full">
					<p class="theme_new_year_img"></p>
					<div class="absoluted t_0 r_0 heart_img on"></div>
				</div>
				<p>신년</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_valentine_img"></p>
					<div class="absoluted t_0 r_0 heart_img on"></div>
				</div>
				<p>발렌타인데이</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_white_day_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>화이트데이</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_christmas_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>크리스마스</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_birth_day_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>생일</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_anniversary_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>기념일</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_spring_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>봄</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_summer_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>여름</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_fall_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>가을</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_winter_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>겨울</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_exhibition_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>전시</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_festival_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>축제</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_rooptop_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>루프탑</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_history_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>역사 탐방</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_escape_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>방탈출</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_korean_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>한식</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_chinese_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>중식</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_japaness_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>일식</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_western_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>양식</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_meat_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>고기</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_caffe_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>카페</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_desert_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>디저트</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_salad_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>샐러드</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_alcohol_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>술</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_inner_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>실내</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_hobby_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>취미</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_movie_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>영화</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_game_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>게임</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_overseas_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>여행</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_walk_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>산책</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_rainy_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>비오는 날</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_animal_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>동물</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_dog_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>애견</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_cat_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p>애묘</p>
			</li>
		</ul>
	<section>
</body>
</html>