<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head.html"></head>
<body class="scroll">
	<div class="logo center_a"></div>
	<p class="title_t center_t bold_t">데이트 코스</p>
	<section class="center_a f_40">
		<div class="form_group center_t">
			<div class="button_input">
				<input type="text" class="input" placeholder="검색" />
				<a class="btn active_btn">검색하기</a>
			</div>
		</div>
		<ul class="item_list">
			<li>
				<div class="relatived w_full">
					<p class="theme_new_year_img"></p>
					<div class="absoluted t_0 r_0 heart_img on"></div>
				</div>
				<p class="center_t">신년</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_valentine_img"></p>
					<div class="absoluted t_0 r_0 heart_img on"></div>
				</div>
				<p class="center_t">발렌타인데이</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_white_day_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">화이트데이</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_christmas_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">크리스마스</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_birth_day_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">생일</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_anniversary_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">기념일</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_spring_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">봄</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_summer_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">여름</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_fall_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">가을</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_winter_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">겨울</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_exhibition_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">전시</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_festival_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">축제</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_rooptop_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">루프탑</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_history_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">역사 탐방</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_escape_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">방탈출</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_korean_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">한식</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_chinese_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">중식</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_japaness_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">일식</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_western_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">양식</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_meat_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">고기</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_caffe_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">카페</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_desert_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">디저트</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_salad_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">샐러드</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_alcohol_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">술</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_inner_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">실내</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_hobby_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">취미</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_movie_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">영화</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_game_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">게임</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_overseas_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">여행</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_walk_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">산책</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_rainy_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">비오는 날</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_animal_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">동물</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_dog_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">애견</p>
			</li>
			<li>
				<div class="relatived w_full">
					<p class="theme_cat_img"></p>
					<div class="absoluted t_0 r_0 heart_img"></div>
				</div>
				<p class="center_t">애묘</p>
			</li>
		</ul>
	</section>
</body>
</html>