<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head.html"></head>
<body class="scroll">
	<div class="body h_full">
		<div class="logo center_a"></div>
		<div class="relatived w_full">
			<p class="title_t center_t bold_t line_height">드라이브</p>
			<div class="absoluted t_0 r_30 w_230 bold_t btn active_btn">업로드</div>
		</div>
		<section class="center_a mt_30 f_40">
			<ul class="item_list">
				<li>
					<div class="drive_img" style="background-image: url('/resources/theme_new_year.svg');"></div>
				</li>
			</ul>
		<section>
	</div>
	<div class="popup">
		<div class="background"></div>
		<section class="center_a card mt_30">
			<p class="title_t center_t bold_t">이미지 첨부</p>
			<div class="form_group ml_5p">
				<label for="upload_file">
					<input type="file" class="file" id="upload_file"/>
					<div class="upload_input no_image"></div>
				</label>
				<div class="form_group inline_block">
					<a class="btn w_270 disable_btn bold_t">닫기</a>
					<a class="btn w_270 active_btn bold_t ml_30">저장</a>
				</div>
			</div>
		</section>
		<section class="center_a card mt_30">
			<div class="form_group ml_5p mt_0 pt_0">
				<div class="r_30 bold_t mr_30 mt_0 pt_0 chat_img">
					<img src="/resources/coin.svg" class="mt_0 pt_0 chat_img" />
				</div>
				<div class="form_group inline_block">
					<a class="btn w_270 disable_btn bold_t">닫기</a>
				</div>
			</div>
		</section>
	</div>
</body>
</html>