<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head.html"></head>
<body class="scroll">
	<input type="hidden" id="year" th:value="${#dates.format(selected_date, 'yyyy')}"/>
	<input type="hidden" id="month" th:value="${#dates.format(selected_date, 'MM')}"/>
	<input type="hidden" id="day" th:value="${#dates.format(selected_date, 'dd')}"/>
	<div class="body">
		<div class="logo center_a"></div>
		<p class="title_t center_t bold_t">일정</p>
		<section class="center_a mt_30 f_40">
			<div class="card w_full h_200">
				<table id="week_calendar" class="calendar">
					<thead>
						<tr>
							<td id="calendar_prev_btn" class="calendar_btn">&#60;&#60;</td>
							<td colspan="5">
								<span id="calendar_year"></span>년
								<span id="calendar_month"></span>월
							</td>
							<td id="calendar_next_btn" class="calendar_btn">&#62;&#62;</td>
						</tr>
						<tr>
							<td>일</td><td>월</td><td>화</td><td>수</td><td>목</td><td>금</td><td>토</td>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</section>
		<div class="division_line mb_30"></div>
		<div id="schedule_idx" class="money vertical_center twin w_90p ml_5p" th:each="schedule : ${schedule_list}" th:data-idx="${schedule.idx}" onclick="editSchedule(this)">
			<p class="mt_0 w_70p bold_t left_t skip_text" th:text="${schedule.title}">기상</p>
			<div class="w_20p mt_0 bold_t" th:text="${#dates.format(schedule.startDate, 'HH:mm')}">07:00</div>
		</div>
		<div class="form_group inline_block">
			<a id="add_btn" class="btn w_270 active_btn bold_t">일정 추가</a>
		</div>
	</div>
	<div class="footer">
		<a class="btn disable_btn">돌아가기</a>
	</div>
	<div class="popup" style="display: none;">
		<div class="background"></div>
		<section id="schedule_popup" class="center_a card mt_30" style="display: none;">
			<p class="title_t center_t bold_t">일정 추가</p>
			<div class="form_group ml_5p">
				<input type="hidden" id="add_idx" />
				<input type="text" id="schedule_title" class="input" placeholder="제목*" />
				<input type="text" id="start_date" class="input" placeholder="시작일자*" />
				<input type="text" id="end_date" class="input" placeholder="종료일자" />
				<input type="text" id="address" class="input" placeholder="주소" />
				<input type="text" id="address_detail" class="input" placeholder="상세 주소" />
				<div class="form_group inline_block">
					<a class="btn w_270 disable_btn bold_t pop_close">닫기</a>
					<a id="schedule_save" class="btn w_270 active_btn bold_t ml_30">저장</a>
				</div>
			</div>
		</section>
	</div>
</body>
<script type="application/javascript" th:src="@{/js/calendar.js}"></script>
<script type="application/javascript" th:src="@{/js/schedule.js}"></script>
<script type="application/javascript" th:src="@{/js/style.js}"></script>
</html>