<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head.html"></head>
<body>
	<div class="body">
		<div class="vertical_set">
			<div class="logo center_a"></div>
			<div id="profile_btn" class="profile_card card center_a">
				<div class="profile_card_line">
					<div th:if="${account.profileIdx == null}" class="profile_img bold_t" th:text="${account.name.charAt(0)}"></div>
					<div th:unless="${account.profileIdx == null}" class="profile_img on" th:style="|background-image: url('/view/image/${account.profileIdx}');|">&nbsp;</div>
					<div class="heart_img on"></div>
					<div th:if="${partner.profileIdx == null}" class="profile_img bold_t" th:text="${partner.name.charAt(0)}"></div>
					<div th:unless="${partner.profileIdx == null}" class="profile_img on" th:style="|background-image: url('/view/image/${partner.profileIdx}');|">&nbsp;</div>
				</div>
				<p class="f_40 bold_t">D + <span th:text="${d_day}">132</span></p>
			</div>
		</div>
		<div class="fixed t_30 r_0 vertical_set w_150">
			<div id="alarm_btn" class="alarm_btn"></div>
			<div id="community_btn" class="circle_btn community_btn"></div>
			<div id="household_ledger_btn" class="circle_btn household_ledger_btn"></div>
			<div id="place_btn" class="circle_btn place_btn"></div>
		</div>
		<div id="store_btn" class="fixed b_100 r_30 store_btn"></div>
		<div th:class="|fixed dog_img ${puppy.condition < 50 ? 'bad' : (puppy.hungry < 50 ? 'sick' : '')}|"></div>
		<div class="fixed today">
			<a href="javascript:;" id="question_btn" class="btn active_btn bold_t w_270">오늘의 질문</a>
		</div>
	</div>
	<div class="footer main">
		<div class="circle_group">
			<div id="calendar_btn" class="circle_btn calendar_btn"></div>
			<div id="drive_btn" class="circle_btn drive_btn"></div>
			<div id="diary_btn" class="circle_btn diary_btn"></div>
			<div id="chat_btn" class="circle_btn chat_btn"></div>
		</div>
	</div>
</body>
<script type="application/javascript" th:src="@{/js/main.js}"></script>
</html>