<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Love Diary</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="logo center_a"></div>
	<p class="title_t center_t bold_t">포인트 이력</p>
	<div class="fixed t_30 r_30 card w_230 pd_20 bd_5 br_20 twin">
		<div class="coin_img"></div>
		<p class="ml_30 f_50 bold_t">5</p>
	</div>
	<section class="center_a mt_30 f_40 scroll">
		<ul class="list">
			<li>
				<p>
					<div class="twin">
						<div class="twin_center">
							<div class="coin_img"></div>
							<p class="ml_30 f_50">+5</p>
						</div>
						<p>두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트</p>
					</div>
				</p>
			</li>
			<li>
				<p>
					<div class="twin">
						<div class="twin_center">
							<div class="coin_img"></div>
							<p class="ml_30 f_50">+5</p>
						</div>
						<p>두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트</p>
					</div>
				</p>
			</li>
			<li>
				<p>
					<div class="twin">
						<div class="twin_center">
							<div class="coin_img"></div>
							<p class="ml_30 f_50">+5</p>
						</div>
						<p>두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트두 줄 테스트</p>
					</div>
				</p>
			</li>
		</ul>
	</section>
</html>