<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head.html"></head>
<body>
	<div class="logo center_a"></div>
	<p class="title_t center_t bold_t">포인트 이력</p>
	<div id="store_btn" class="fixed t_30 r_30 card w_270 pd_10 bd_5 br_20 twin">
		<div class="coin_img"></div>
		<p class="ml_30 f_50 bold_t" th:text="${#numbers.formatInteger(point, 1, 'COMMA')}"></p>
	</div>
	<section class="center_a f_30 scroll">
		<ul class="list">
			<li th:each="point : ${list}">
				<div class="twin">
					<div class="twin_center w_30p">
						<div class="coin_img"></div>
						<p th:class="${point.point > 0 ? 'ml_20 f_40 plus' : 'ml_20 f_40 minus'}" th:text="${point.point}"></p>
					</div>
					<p class="w_70p left_t" th:text="${point.contents}"></p>
				</div>
			</li>
		</ul>
	</section>
</body>
<script type="application/javascript" th:src="@{/js/store.js}"></script>
</html>