<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head.html"></head>
<body>
	<div class="body">
		<div class="logo center_a"></div>
		<p class="title_t center_t bold_t">커뮤니티</p>
		<section class="center_a card mt_30">
			<div class="form_group">
				<input type="text" class="input" placeholder="제목*" />
				<div class="editor h_600"></div>
				<div class="division_line w_full"></div>
				<div class="h_400 w_full scroll">
					<p class="money bold_t left_t">1</p>
					<p class="money bold_t left_t">2</p>
				</div>
				<div class="form_group inline_block">
					<a class="btn w_270 active_btn bold_t">답변 추가</a>
				</div>
			</div>
		</section>
	</div>
	<div class="footer">
		<a class="btn disable_btn">돌아가기</a>
		<a class="btn active_btn">저장</a>
	</div>
	<div class="popup">
		<div class="background"></div>
		<section class="center_a card mt_30">
			<p class="title_t center_t bold_t">답변 추가</p>
			<div class="form_group ml_5p">
				<input type="text" class="input" placeholder="답변*" />
				<div class="form_group inline_block">
					<a class="btn w_270 disable_btn bold_t">닫기</a>
					<a class="btn w_270 active_btn bold_t ml_30">저장</a>
				</div>
			</div>
		</section>
	</div>
</body>
</html>