<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head.html"></head>
<body>
	<input type="hidden" id="couple_idx" th:value="${couple_idx}" />
	<input type="hidden" id="account_idx" th:value="${account_idx}" />
	<div id="chatting" class="body f_30"></div>
	<div class="footer">
		<div class="twin">
			<div class="w_120 r_30 mr_30 bold_t btn white_btn ml_30">
				<div id="image_btn" class="add_image_btn">&nbsp;</div>
			</div>
			<div class="form_group">
				<input type="text" id="comment" class="input" placeholder="입력" />
			</div>
			<a id="save_comment" class="btn active_btn ml_30 mr_30">입력</a>
		</div>
	</div>
	<div class="popup" style="display: none;">
		<div class="background pop_close"></div>
		<section id="image_upload_pop" class="center_a card mt_30" style="display: none;">
			<p class="title_t center_t bold_t">이미지 첨부</p>
			<div class="form_group ml_5p">
				<label for="upload_file">
					<input type="file" class="file" id="upload_file" accept="image/png, image/jpeg"/>
					<div id="upload_image" class="upload_input no_image"></div>
				</label>
				<div class="form_group inline_block">
					<a class="btn w_270 disable_btn bold_t pop_close">닫기</a>
					<a id="save_image_btn" class="btn w_270 active_btn bold_t ml_30">저장</a>
				</div>
			</div>
		</section>
		<section id="image_view_pop" class="center_a card mt_30" style="display: none;">
			<div class="form_group ml_5p mt_0 pt_0">
				<div class="r_30 bold_t mt_0 pt_0 chat_img">
					<img src="/resources/add.svg" id="image" class="mt_0 pt_0 chat_img" />
				</div>
				<div class="form_group inline_block">
					<a class="btn w_270 disable_btn bold_t pop_close">닫기</a>
				</div>
			</div>
		</section>
	</div>
</body>
<script src="https://cdn.socket.io/socket.io-3.0.0.js"></script>
<script type="application/javascript" th:src="@{/js/chatting.js}"></script>
</html>