<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head.html"></head>
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
<body>
	<div class="body">
		<div class="logo center_a"></div>
		<p class="title_t center_t bold_t">타임캡슐</p>
		<section class="center_a card mt_30">
			<div id="timecapsule_idx" class="form_group" th:data-idx="${detail.idx}">
				<input type="text" id="capsule_title" class="input" placeholder="제목*" th:value="${detail.title}"/>
				<div id="editor" class="editor" th:utext="${detail.contents}"></div>
				<input type="text" id="open_date" class="input" placeholder="열릴날짜*" th:value="${detail.openDate}"/>
			</div>
		</section>
	</div>
	<div class="footer">
		<a class="btn disable_btn">돌아가기</a>
		<a class="btn active_btn">저장</a>
	</div>
</body>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script type="application/javascript" th:src="@{/js/editor.js}" defer></script>
<script type="application/javascript" th:src="@{/js/timecapsule_save.js}"></script>
</html>