<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head.html"></head>
<body>
	<div class="logo center_a"></div>
	<p class="title_t center_t bold_t">오늘의 질문</p>
	<div class="circle_group">
		<div class="center_t">
			<div class="circle_btn good_btn"></div>
			<div class="circle_btn good_btn"></div>
		</div>
	</div>
	<p class="title center_t bold_t">애인과 함께 보고싶은 영화는?</p>
	<section class="center_a mt_30">
		<div class="form_group">
			<div class="comment card">
				<div class="profile_img bold_t left mt_0">황</div>
				<span class="profile_name">황태현</span>
				<p>댓글입니다</p>
				<p class="right_t">2024-03-24 11:51</p>
			</div>
			<div class="comment card">
				<div class="profile_img bold_t left mt_0">정</div>
				<span class="profile_name">정지윤</span>
				<p>댓글입니다</p>
				<p class="right_t">2024-03-24 11:51</p>
			</div>
		</div>
		<div class="division_line"></div>
	</section>
	<section class="center_a mt_30">
		<div class="form_group">
			<div class="button_input">
				<input type="tel" class="input" placeholder="댓글" />
				<a class="btn active_btn">입력</a>
			</div>
		</div>
		<section class="center_a mt_30">
			<div class="form_group">
				<div class="comment card">
					<div class="twin">
						<div>
							<div class="profile_img bold_t left mt_0">황</div>
							<span class="profile_name">황태현</span>
						</div>
						<div>
							<span class="regist_date">2024-03-24 11:51</span>
						</div>
					</div>
					<p>댓글입니다</p>
				</div>
			</div>
		</section>
	<section>
</body>
</html>