<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head.html"></head>
<body class="scroll">
	<div class="logo center_a"></div>
	<p class="title_t center_t bold_t">오늘의 질문</p>
	<section class="center_a f_30">
		<ul id="question_list" class="list">
			<li th:each="answer : ${list}" th:data-idx="${answer.idx}">
				<p>
					<span th:text="${#dates.format(answer.questionDate, 'MM-dd')}"></span>
					<span th:text="${answer.questionContents}"></span>
				</p>
			</li>
		</ul>
	</section>
</body>
<script type="application/javascript" th:src="@{/js/question.js}"></script>
</html>