<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head.html"></head>
<body>
	<input type="hidden" id="idx" th:value="${answer.idx}" />
	<div class="body">
		<div class="logo center_a"></div>
		<p class="title_t center_t bold_t">오늘의 질문</p>
		<section class="center_a card mt_30">
			<div class="form_group">
				<p class="f_40 left_t bold_t" th:text="${answer.questionContents}"></p>
				<textarea id="contents" class="input question_contents" placeholder="내용을 입력하세요." th:text="${#strings.equals(gender, 'M') ? answer.mansAnswerContents : answer.womansAnswerContents}"></textarea>
				<p class="right_t bold_t"><span id="contents_length">0</span> / 300</p>
			</div>
		</section>
		<div class="circle_group">
			<div id="emotion" class="center_t">
				<div th:each="emotion : ${emotion_list}" th:class="|circle_btn feel_btn ${#strings.equals(gender, 'M') ? (answer.mansEmotionIdx == emotion.idx ? 'on' : '') : (answer.womansEmotionIdx == emotion.idx ? 'on' : '')}|" th:style="|background-image: url('/view/image/${emotion.imageIdx}');|" th:data-idx="${emotion.idx}"></div>
			</div>
		</div>
	</div>
	<div class="footer">
		<a href="javascript:;" id="save_btn" class="btn active_btn">저장</a>
	</div>
</body>
<script type="application/javascript" th:src="@{/js/question_save.js}"></script>
</html>